  <div class="panel panel-default col-md-offset-4 col-md-4" id="signin-content">
    <div class="panel-body">
      <h2 class="text-center">Admin Panel</h2>
      <br>
      <form id="login-form">
        <div class='form-group'>
          <input name='email' value="" id="email" type="email" class="form-control" placeholder="Email" required="true" />
        </div>
        <div class='form-group'>
          <input name='password' value="" id="password" type="password" class="form-control" placeholder="Password" required="true" />
        </div>
        <button type="submit" class="btn btn-primary btn-block" id="login-btn">Login</button>
      </form>
      <br><br>
    </div>
  </div>
